body {
  background-image: linear-gradient(to left,  royalblue, blue);
  color: white;
  text-align: center;
  font-family: Arial;
}
h2 {
  font-size: 60px;
  margin-top: 40px;
}
#clock {
  font-size: 80px;
  letter-spacing: 5px;
  font-weight: bold;
}